*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}
body{
    height: max-content;
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    margin-top:1%;
    width: 400px;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    padding:1%;
}
button{
    padding: 5px;
}
.box{
    background-color: aqua;
}
.pinkBox{
    background-color: pink;
}